.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    background: var(--fondo-primero);
}

.navegacion{
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0px;
}

.navegacion__contenido{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: .5rem;
}

.contenido__logo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: .3rem;
}

.logo__imagen{
    width: 32px;
    height: auto;
    cursor: pointer;
}

.logo__titulo{
    color: var(--color-primero);
    font-size: 16px;
}

.contenido__rutas{
    width: 100%;
}

.rutas__contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    height: 100%;
}

.rutas__link {
    padding: .5rem 1rem;
    text-decoration: none;
    color: var(--color-primero);
    transition: all .4s;
    font-weight: bold;
    text-transform: lowercase;
}

.rutas__link:hover {
    border-radius: 2.5rem;
    background: var(--color-tercero);
    color: var(--color-segundo);
}

.informacion{
    display: flex;
    flex-direction: column-reverse;
}

.informacion__contenido-texto{
    width: 100%;
    padding-right: 2rem;
    cursor: default;
}

.informacion__contenido-texto h2{
    font-size: 22px;
    font-weight: 400;
}

.informacion__contenido-texto h2 > span{
    text-decoration: underline var(--color-tercero);
}

.informacion__contenido-texto p{
    font-size: 14px;
}

.informacion__sociales{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    border: none;
    width: 100%;
}

.informacion__link{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
}

.informacion__item{
    margin-right: 15px;
}

.informacion__item a{
    font-size: 14px;
    display: flex;
    align-items: center;
    color: var(--color-primero);
    border-bottom: 2px solid transparent;
    transition: .2s;
    padding: 5px 0px;
    text-transform: lowercase;
}

.informacion__item a::after{
    content: "\16CF";
    margin-left: 5px;
    transform: rotate(45deg);
}

.informacion__item a:hover{
    color: var(--color-tercero);
    border-bottom: 2px solid var(--color-tercero);
}

.informacion__imagen{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacion__imagen .img{
    width: 180px;
    height: 180px;
    margin-bottom: 1rem;
    border-radius: 100%;
    border: 2px solid var(--color-tercero);
}