.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacion__content {
    display: flex;
    gap: 1rem;
    justify-content: end;
    margin-right: 1rem;
    align-items: center;
    height: 100%;
}

.navegacion__link {
    padding: .5rem 1rem;
    text-decoration: none;
    color: var(--color-primario);
    transition: .2s;
    border-bottom: 2px solid transparent;
    font-weight: bold;
    font-size: 16px;
    text-transform: lowercase;
}

.navegacion__link:hover {
    background: var(--fondo-primario);
    border-bottom: 2px solid var(--color-primario);
}