.contenedor {
  display: grid;
  grid-template-areas:
    "navegacion"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.header {
  grid-area: navegacion;
}

.content {
  grid-area: main;
  padding: 0px 0px 0px 0px;
}

.footer {
  grid-area: footer;
}

* {
  box-sizing: border-box;
}

.invisible {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}
.titulo{
  width: 100%;
  text-align: left;
}
section{
  padding: 2rem 0px;
}