.contenedor{
    display: grid;
    grid-template-areas:
    "navegacion"
    "main"
    "footer";
    grid-template-columns: auto;
    grid-template-rows: auto auto 10vh;
}

.header{
    grid-area: navegacion;
}

.content{
    grid-area: main;
    background: var(--fondo-primero);
}

.footer{
    grid-area: footer;
    background: var(--fondo-segundo);
}

*{
    box-sizing: border-box;
}

.invisible{
    display: none;
}