@media screen and (min-width: 768px) {
    .navegacion__contenido {
        flex-direction: row;
        gap: 0px;
    }

    .logo__titulo {
        flex-wrap: nowrap;
    }

    .contenido__logo {
        width: auto;
        justify-content: start;
    }

    .informacion {
        flex-direction: row;
    }

    .informacion__contenido-texto {
        padding-right: 1rem;
    }

    .informacion__item a {
        font-size: 16px;
    }

    .informacion__imagen .img {
        width: 227px;
        height: 227px;
    }

    .skills__titulo,
    .hobbies__titulo {
        text-align: center;
    }

    .skills__item, .hobbies__item{
        width: 30%;
    }

    .contenido__rutas{
        display: none;
    }

    .arriba{
        display: none;
    }
}

@media screen and (min-width: 1024px) {

    .contenido__logo {
        width: auto;
    }

    .logo__titulo{
        width: max-content;
        display: block;
    }

    .contenido__rutas{
        display: block;
    }

    .navContacto{
        display: none;
    }

    .informacion__contenido{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .informacion__imagen {
        width: 50%;
        margin-left: 10%;
        justify-content: space-around;
    }

    .informacion__imagen .img {
        width: 327px;
        height: 327px;
    }

    .arriba{
        display: initial;
    }
}