.footer{
    width: 100%;
    background: var(--fondo-segundo);
    padding-top: 3rem;
}
.footer__contenedor{
    width: 90%;
    margin: 1rem auto;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.footer__contenido{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

.footer__logo{
    width: 3%;
    height: auto;
}

.rutas__footer{
    width: auto;
    display: flex;
    gap: 1rem;
}

.copyright a{
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .footer__contenido{
        flex-direction: column-reverse;
    }
    .rutas__footer{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .footer__logo{
        width: 10%;
    }
}

@media screen and (max-width: 425px) {
    .footer__logo{
        width: 20%;
    }
}