.contacto{
    height: 100vh;
    width: 100%;
    display: flex;
}
.contacto__contenedor{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 1rem 0px;
}
.contacto__imagen{
    width: 30%;
    min-height: 500px;
    background: url(../../images/contacto/contacto.png) no-repeat center;
    background-size: cover;
}
.form{
    width: 70%;
    height: auto;
    padding: 0px 1rem;
    display: flex;
    flex-flow: column wrap;
}
.form fieldset{
    padding: 0px;
    border: none;
}
.form-campos{
    display: flex;
    flex-flow: column wrap;
    margin: 1rem 0px;
    gap: 1rem;
}
.form-input{
    display: flex;
    flex-direction: column;
    background-color: var(--fondo-primero);
    border-radius: 4px;
    padding: 5px 1rem 5px 10px;
    border: 1px solid transparent;
}
.form-input:hover{
    border: 1px solid var(--fondo-tercero);
}
.form-input label{
    font-size: 16px;
    color: #A2A2A2;
}
.form-input input{
    border: none;
    outline: none;
    background: transparent;
    margin: 5px;
}
.form textarea{
    background-color: var(--fondo-primero);
    border: 1px solid transparent;
    outline: none;
    border-radius: 4px;
    padding: 5px 1rem 5px 10px;
    resize: none;
}
.form textarea::placeholder{
    font-size: 16px;
    color: #A2A2A2;
}
.form textarea:hover{
    border: 1px solid var(--fondo-tercero);
}
.form .btn input{
    border-radius: 10px;
    border: 2px solid var(--fondo-tercero);
    background: var(--fondo-primero);
    color: var(--color-primero);
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    transition: all 0.2s;
    float: right;
}
.form .btn input:hover{
    border: 2px solid var(--fondo-tercero);
    box-shadow: inset 1px -1px .2rem var(--fondo-tercero);
}
.form .btn input:active{
    background: var(--fondo-tercero);
}

.btn__cv{
    width: 100%;
}
.btn__cv-contenedor{
    width: 80%;
    margin: 0 auto;
}
.btn__cv-btn{
    width: 100%;
    padding: .5rem 0px;
    border: 2px solid var(--fondo-tercero);
    background: var(--fondo-primero);
    border-radius: .5rem;
    font-weight: bold;
    font-size: 16px;
}

.btn__cv-btn:hover{
    border: 2px solid var(--fondo-tercero);
    box-shadow: inset 1px -1px .4rem var(--fondo-tercero);
}
.btn__cv-btn:active{
    background: var(--fondo-tercero);
}

@media screen and (max-width: 768px) {
    .contacto__imagen{
        display: none;
    }
    .form{
        padding: 0px;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .form-campos{
        width: 100%;
    }
    .form textarea{
        width: 100%;
    }
}