.formacion{
    margin: 2rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formacion__titulo{
    text-align: center;
}

.formacion__contenedor{
    width: 90%;
    margin: 0 auto;
}

.formacion__contenido{
    width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.formacion__item{
    width: 100%;
    margin: .5rem;
}

.formacion__item img{
    width: 100%;
    height: auto;
}