.formacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formacion__titulo{
    text-align: center;
}

.formacion__contenedor{
    width: 90%;
    margin: 0 auto;
}

.formacion__contenido{
    width: 100%;
    margin: 1rem auto;
    line-height: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.formacion__item{
    width: 100%;
}

.formacion__item img{
    width: 100%;
    height: auto;
}