.proyectos{
  width: 90%;
  margin: auto;
}
.proyectos__contenedor{
  width: 95%;
  margin: 1rem auto;
}
.insignias{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tarjeta{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--fondo-primero);
  transition: all .5s;
}
.tarjeta:hover{
  background-color: var(--fondo-segundo);
}
.insignia{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info_insignia{
  margin: 1rem;
  color: var(--color-primero);
  text-align: center;
}
.imagen_insignia{
  width: 100%;
}
span{
  font-weight: bold;
}