.proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem 0px;
}

.proyectos__titulo {
  text-align: center;
  margin-bottom: 1rem;
}

.proyectos__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.proyecto {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem 0px;
}

.proyecto__item img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.proyecto h3 {
  text-align: center;
  margin: 1rem 0px;
}

@media screen and (min-width: 1024px) {
  .proyecto {
    flex-direction: row;
  }

  .proyecto__item img {
    width: 100%;
    height: auto;
    padding: 0px 5px;
  }
}
