.sobreMi{
    background: var(--fondo-segundo);
    margin: 0rem 0px 1rem 0px;
    display: flex;
    align-items: center;
}
.sobremi__contenedor{
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 0px;
    width: 85%;
    margin: 0px auto;
}
.sobremi__texto{
    max-width: 700px;
}