.sobreMi{
    background: var(--fondo-tercero);
    margin: 1rem 0px;
}
.sobremi__contenedor{
    max-width: 1000px;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 0px;
    width: 90%;
    margin: 0px auto;
}