.botones {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn {
  position: relative;
  text-transform: capitalize;
  outline: none;
  border: 2px solid black;
  border-radius: 1rem;
  width: 150px;
  max-height: 15px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  background: none;
  cursor: pointer;
}

.btn > p {
  position: absolute;
  font-weight: bold;
  font-size: 15px;
}

.btn > p::before,
.btn > p::after {
  content: " ··· ";
}

.primero {
  border: 2px solid lightblue;
  color: rgb(15, 16, 36);
}
.primero:hover {
  background-color: lightblue;
}

.segundo {
  border: 2px solid lightgreen;
  color: rgb(15, 16, 36);
}
.segundo:hover {
  background-color: lightgreen;
}

.tercero {
  border: 2px solid lightcoral;
}
.tercero:hover {
  background-color: lightcoral;
}

.primero:active,
.segundo:active,
.tercero:active {
  transition: none;
  background: rgba(255, 255, 255, 0.685);
}

@media screen and (min-width: 0px) {
  .botones {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .botones {
    flex-direction: row;
  }
}

@media screen and (min-width: 1080px) {
  .botones {
    flex-direction: row;
  }
}
